/* ---- PRODUCTS SECTION ---- */
.products {
  text-align: center;
  padding: 1.25rem;
}
.products__title {
  font-size: 2rem;
  margin-bottom: 1.25rem;
  margin-top: 0;
}

/* ---- FILTER SECTION ---- */

.products__filters {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 0.5625rem 0.3125rem;
}
.filter-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.0625rem solid var(--color-blue);
  border-radius: 6.25rem;
  width: max-content;
  min-width: 4.375rem;
  padding: 0.625rem;
  color: var(--color-blue);
  cursor: pointer;
  transition: 0.3s;
  background-color: transparent;
}
.filter-btn.active,
.filter-btn:hover {
  background: #21758d;
  color: #fff;
}

@media screen and (min-width: 1024px) {
  .products__filters {
    width: 65dvw;
    margin: 0 auto;
    justify-content: center;
    gap: 1.25rem;
  }
}
