/* ---- SERVICES SECTION ---- */
.services,
.form {
  text-align: center;
  padding: 0 1.25rem;
}

.services__title {
  font-size: 2rem;
  margin-bottom: 1.25rem;
}

.services__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.25rem;
}

.service-item {
  background: var(--color-cards);
  padding: 0.9375rem;
  border-radius: 0.625rem;
  box-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.1);
}

.service-item img {
  width: 100%;
  border-radius: 0.625rem;
}

.service-item h3 {
  margin-block: 0.625rem;
}

.service-item p {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 0.625rem;
  font-size: 1.125rem;
}
/* ---- SERVICES QUERIES ---- */

@media screen and (min-width: 1024px) {
  .services__grid {
    width: 80dvw;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1440px) {
  .services__grid {
    width: 65dvw;
  }
}
/* ---- SERVICES END ---- */

/* ---- FORM SECTION ---- */

.contact-form {
  max-width: 31.25rem;
  margin: 0 auto;
  text-align: left;
  margin-bottom: 1.5625rem;
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 0.9375rem;
}

.form-group label {
  display: block;
  font-weight: bold;
  padding-left: 0.625rem;
  margin-bottom: 0.1875rem;
}

.form-group input,
.form-group select {
  padding: 0.625rem;
  border-radius: 3.125rem;
  border: 0.0625rem solid #ccc;
}

.checkbox-group {
  display: flex;
  align-items: center;
}

.submit-btn {
  background: var(--color-blue);
  color: #fff;
  padding: 0.75rem 1.25rem;
  border: none;
  cursor: pointer;
  border-radius: 3.125rem;
  width: 100%;
  font-size: 1.125rem;
}

.form {
  padding-block: 0.0625rem;
  margin-block: 2.5rem;
}

.inputGroup {
  margin: 1em 0 1em 0;
  max-width: 100%;
  position: relative;
}

.inputGroup input {
  font-size: 100%;
  padding: 0.8em;
  outline: none;
  border: 0.125rem solid rgb(200, 200, 200);
  color: var(--color-text);
  background-color: transparent;
  border-radius: 1.25rem;
  width: 100%;
}

.inputGroup label {
  font-size: 100%;
  position: absolute;
  left: 0;
  padding: 0.8em;
  margin-left: 0.5em;
  pointer-events: none;
  transition: all 0.3s ease;
  color: var(--color-text-form);
}

.inputGroup :is(input:focus, input:not(:placeholder-shown)) ~ label {
  transform: translateY(-50%) scale(0.9);
  margin: 0em;
  margin-left: 1.3em;
  padding: 0.4em;
  background-color: var(--color-background2);
}

.inputGroup :is(input:focus, input:not(:placeholder-shown)) {
  border-color: var(--color-blue);
}

input:-webkit-autofill {
  background-color: transparent;
  -webkit-text-fill-color: var(--color-text);
  -webkit-box-shadow: 0 0 0 62.5rem var(--color-background2) inset;
  transition: background-color 5000s ease-in-out 0s;
}

.checkbox-wrapper-46 input[type='checkbox'] {
  display: none;
  visibility: hidden;
}

.checkbox-wrapper-46 .cbx {
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}
.checkbox-wrapper-46 .cbx span {
  display: inline-block;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}
.checkbox-wrapper-46 .cbx span:first-child {
  position: relative;
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 0.1875rem;
  transform: scale(1);
  vertical-align: middle;
  border: 0.0625rem solid #9098a9;
  transition: all 0.2s ease;
}
.checkbox-wrapper-46 .cbx span:first-child svg {
  position: absolute;
  top: 0.1875rem;
  left: 0.125rem;
  fill: none;
  stroke: #ffffff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 1rem;
  stroke-dashoffset: 1rem;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}
.checkbox-wrapper-46 .cbx span:first-child:before {
  content: '';
  width: 100%;
  height: 100%;
  background: var(--color-blue);
  display: block;
  transform: scale(0);
  opacity: 1;
  border-radius: 50%;
}
.checkbox-wrapper-46 .cbx span:last-child {
  padding-left: 0.5rem;
  font-weight: normal;
  font-size: 0.875rem;
}
.checkbox-wrapper-46 .cbx:hover span:first-child {
  border-color: var(--color-blue);
}

.checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child {
  background: var(--color-blue);
  border-color: var(--color-blue);
  animation: wave-46 0.4s ease;
}
.checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child svg {
  stroke-dashoffset: 0;
}
.checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child:before {
  transform: scale(3.5);
  opacity: 0;
  transition: all 0.6s ease;
}

@keyframes wave-46 {
  50% {
    transform: scale(0.9);
  }
}

/* ---- FORM QUERIES ---- */

@media screen and (min-width: 1024px) {
  .contact-form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .checkbox-group {
    width: 95%;
  }

  .submit-btn {
    width: 95%;
  }
}

/* ---- FORM END ---- */
